#import sickbeard
#from sickbeard.common import *

<!-- Set defaults -->
#if sickbeard.IMDB_WL_USE_CUSTOM_DEFAULTS
	#set $statusDefaultString = $statusStrings[$sickbeard.IMDB_WL_STATUS_DEFAULT]
	#set $qualityDefault = $Quality.splitQuality($sickbeard.IMDB_WL_QUALITY_DEFAULT)
	#set $wantedBeginDefault = $sickbeard.IMDB_WL_WANTED_BEGIN_DEFAULT
	#set $wantedLatestDefault = $sickbeard.IMDB_WL_WANTED_LATEST_DEFAULT
	#set $showTags = $sickbeard.SHOW_TAGS
	#set $showlistTagview = $sickbeard.SHOWLIST_TAGVIEW
	#set $flattenFoldersDefault = $sickbeard.IMDB_WL_FLATTEN_FOLDERS_DEFAULT
	#set $sceneDefault = $sickbeard.IMDB_WL_SCENE_DEFAULT
	#set $subtitlesDefault = $sickbeard.IMDB_WL_SUBTITLES_DEFAULT
	#set $animeDefault = $sickbeard.IMDB_WL_ANIME_DEFAULT
#else
	#set $statusDefaultString = $statusStrings[$sickbeard.STATUS_DEFAULT]
	#set $qualityDefault = $Quality.splitQuality($sickbeard.QUALITY_DEFAULT)
	#set $wantedBeginDefault = $sickbeard.WANTED_BEGIN_DEFAULT
	#set $wantedLatestDefault = $sickbeard.WANTED_LATEST_DEFAULT
	#set $showTags = $sickbeard.SHOW_TAGS
	#set $showlistTagview = $sickbeard.SHOWLIST_TAGVIEW
	#set $flattenFoldersDefault = $sickbeard.FLATTEN_FOLDERS_DEFAULT
	#set $sceneDefault = $sickbeard.SCENE_DEFAULT
	#set $subtitlesDefault = $sickbeard.SUBTITLES_DEFAULT
	#set $animeDefault = $sickbeard.ANIME_DEFAULT
#end if

<div class="field-pair">
<span class="imdb-component-desc" style="width:100%">
<table id="imdb-default-options" class="solid-border" cellpadding="0" cellspacing="0" border="0">
	<thead>
	<tr style="font-size: 12px;">
	<th><i>Currently configured option</i></hd>
	<th><i>Status</i></hd>
	</th>
	</thead>
	
	<tr class="solid-border-top">
	<td>Initial episode status</td>
	<td>$statusDefaultString</td>
	</tr>
	
	#set $qualities = $qualityDefault
	#set global $anyQualities = $qualities[0]
	#set global $bestQualities = $qualities[1]
	#set $overall_quality = $Quality.combineQualities($anyQualities, $bestQualities)
	#set $anyQualityList = filter(lambda x: x > $Quality.NONE, $Quality.qualityStrings)
	#set $bestQualityList = filter(lambda x: x > $Quality.SDTV and x < $Quality.UNKNOWN, $Quality.qualityStrings)
	#set $qualityPreset = None
	#for $curPreset in sorted($qualityPresets):
		
		#if $curPreset == $overall_quality
			#set $qualityPreset = $qualityPresetStrings[$curPreset]
		#end if
	#end for
	
	#if $qualityPreset
		<tr class="solid-border-top">
		<td>Quality Preset</td>
		<td>
		<ul>
		
		
		<li>$qualityPresetStrings[$curPreset]</li>
		</td>
		</tr>
	#else
		<tr class="solid-border-top">
		<td>Quality Initial</td>
		<td>
		<ul class="no-list-style">
		#for $curQuality in sorted($anyQualityList):
			#if $curQuality in $anyQualities
				<li>$Quality.qualityStrings[$curQuality]
			#end if
		#end for
		</ul>
		</ul>

		</td>
		</tr>
		<tr class="solid-border-top">
		<td>Quality Upgrade To</td>
		<td>
		<ul class="no-list-style">
		#for $curQuality in sorted($bestQualityList):
			#if $curQuality in $anyQualities
				<li >$Quality.qualityStrings[$curQuality]
			#end if
		#end for
		</ul>
		

		</td>
		</tr>
	#end if
	<tr class="solid-border-top">
	<td>From season 1 forward, set</td>
	<td>$wantedBeginDefault</td>
	</tr>
	<tr class="solid-border-top">
	<td>From latest going back, set</td>
	<td>$wantedLatestDefault</td>
	</tr>
	
	
	#if $showTags
	<tr class="solid-border-top">
	<td>Available Tags</td>
	<td>
	#for $tag in $showTags:
		$tag
	#end for

	</td>
	</tr>
	#end if
	
	#if $showlistTagview
	<tr class="solid-border-top">
	<td>Default Tag</td>
	<td>
	$showlistTagview
	</td>
	</tr>
	#end if
	
	<tr class="solid-border-top">
	<td>Flat folder structure</td>
	<td>$flattenFoldersDefault</td>
	</tr>
	
	<tr class="solid-border-top">
	<td>Scene numbering</td>
	<td>$sceneDefault</td>
	</tr>
	
	<tr class="solid-border-top">
	<td>Scene numbering</td>
	<td>$sceneDefault</td>
	</tr>
	
	<tr class="solid-border-top">
	<td>Subtitles</td>
	<td>$subtitlesDefault</td>
	</tr>
	
	<tr class="solid-border-top">
	<td>Show is anime</td>
	<td>$animeDefault</td>
	</tr>
	
</table>
</span>
</div>
